<launch>

    <param name="mapviz_filter_size" type="double" value="0.05"/>

    <!-- SC-A-LOAM -->
    <param name="keyframe_meter_gap" type="double" value="0.1"/>
    <param name="keyframe_deg_gap" type="double" value="5"/>

    <!-- Scan Context -->
    <param name="sc_dist_thres" type="double" value="0.3"/> <!-- SC-A-LOAM, if want no outliers, use 0.1-0.15 -->
    <!-- <param name="sc_max_radius" type="double" value="40.0"/> 20 or 40 for indoor -->
    <param name="sc_max_radius" type="double" value="80.0"/> <!-- for outdoor -->

    <!-- input from LIO_livox -->
    <remap from="/aft_mapped_to_init" to="/livox_odometry_mapped"/>
    <remap from="/velodyne_cloud_registered_local" to="/livox_full_cloud_imu"/>

    <!-- Save path Parameter of odometry -->
    <arg name="save_path" default="lio_livox_slam.txt"/>
    <param name="save_path" value="$(arg save_path)"/>
    <param name="save_pcd_path" value="$(find livox_mapping)/PCD/"/>
    <!-- If use RTK -->
    <arg name="useRTK" default="false"/>
    <param name="useRTK" value="$(arg useRTK)"/>

    <!-- Extrinsic Parameter between Lidar & IMU -->
    <rosparam param="Extrinsic_T_livox2gnss"> [0.997573, -0.024254, 0.065274, 0.322019,
                                               0.023477, 0.999644, 0.012663, 0.043158,
                                               -0.066402, -0.011080, 0.997733, 0.456606,
                                               0.0, 0.0, 0.0, 1.0]</rosparam>

    <!-- nodes -->
    <node pkg="livox_mapping" type="livox_mapping" name="livox_mapping" output="screen" /> <!-- Scan Context-based PGO -->

    <!-- visulaization -->
    <arg name="rvizscpgo" default="true" />
    <group if="$(arg rvizscpgo)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizscpgo" args="-d $(find livox_mapping)/rviz_cfg/livox_mapping.rviz" />
    </group>

</launch>
